<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="studentmdfconnection"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Users\Srv022\Documents\srinudocs\GIT\Learning\SrinuLearning\StudentDataLayer\Student.mdf;Integrated Security=True;Connect Timeout=30;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>