<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--path in string-->
    <add key="SoundLocationPath" value="original_argon.wav" />
    <!--<add key="SoundLocationPath" value="moto_e4_oxygen.wav" />-->    
    <!--<add key="SoundLocationPath" value="Alarm Clock Sound.wav" />-->
    <!--true for play. false for stop. just alert message box-->
    <add key="PlayAlarm" value="true" />
    <!--seconds.default 8 second-->
    <add key="SoundPlayLength" value="6" />
    <!--Minutes. default for 45 minutes-->
    <add key="SessionTotalTime" value="45" />
    <!--Minutes. default for 5 minutes-->
    <add key="TimerElapseTime" value="5" />
    <!--Minimum Session Break. default for 5 minutes-->
    <!--Useful for calculating NonContineous BreakTime-->
    <add key="MinimumSessionBrakeTime" value="5" />
    <!--Useful for calculating Next Large BreakTime in minutes. one hour-->
    <add key="NextLargeBreakElapsedTime" value="60" />
    <!--useful to make label red. in minutes. default 20 mins-->
    <add key="RiskDangerNonBreakSessionTime" value="20" />
    <!--useful to make label red. in hours. maximum 3 hours per day default-->
    <add key="RiskDangerTotalSessionTime" value="3" />
    <!--useful to make label red. in hours. maximum 6 hours per day default-->
    <add key="RiskDangerTotalDaySpent" value="6" />    
  </appSettings>
</configuration>