@model IEnumerable<string>

@{
    ViewBag.Title = "UserByName";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">

    $(function () {
        $("#btnGetdetails").click(function () {

            var access_token = sessionStorage.getItem("accessToken");
            var authHeaders = {};
            authHeaders.Authorization = 'Bearer ' + access_token;

            var userName = $("#drpUserByName").val();
            alert(userName);

            $.ajax({
                url: "/api/UserAPI/" + userName,
                type: "GET",
                ContentType: "application/json",
                headers: authHeaders,
                success: function (data) {
                    var innerHtml = "";
                    var tablebegin = '<table border="1">';
                    var tableEnd = "</table>";
                    var rowbegin = "<tr>";
                    var rowEdn = "</tr>";
                    var tdbegin = "<td>";
                    var tdEnd = "</td";

                    var loopHtml = "";

                    var user = data;

                    var userIDTd = tdbegin + user.ID + tdEnd;
                    var nameTD = tdbegin + user.Name + tdEnd;
                    var ageTd = tdbegin + user.Age + tdEnd;

                    loopHtml = loopHtml
                        + rowbegin
                        + userIDTd
                        + nameTD
                        + ageTd
                        + rowEdn;

                    //alert(user.ID + ' ' + user.Name + ' ' + user.Age);


                    innerHtml = innerHtml
                        + tablebegin
                        + loopHtml
                        + tableEnd;

                    //alert(innerHtml);
                    $("#divUserDetails").html(innerHtml);
                },
                error: function (response) {
                    alert(JSON.stringify(response))
                }
            });


        });


    });

</script>
<h2>UserByName</h2>
<br />
<table>
    <tr>
        <td>
            @Html.DropDownList("drpUserByName", new SelectList(Model.Select(x => new { Value = x, Text = x }), "Value", "Text"))
        </td>
        <td>
            <input type="button" value="GetUserDetails" id="btnGetdetails" />
        </td>
    </tr>
</table>

<br />
<div id="divUserDetails">

</div>
