<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--path in string-->
    <add key="SoundLocationPath" value="original_argon.wav" />
    <!--<add key="SoundLocationPath" value="moto_e4_oxygen.wav" />-->    
    <!--<add key="SoundLocationPath" value="Alarm Clock Sound.wav" />-->
    <!--true for play. false for stop. just alert message box-->
    <add key="PlayAlarm" value="true" />
    <!--seconds.default 8 second-->
    <add key="SoundPlayLength" value="8" />
    <!--Minutes. default for 15 minutes-->
    <add key="TimerElapseTime" value="1" />
  </appSettings>
</configuration>